@import url(/css/index.css);
.product-contact{
    background-color: #4E9F3D;
    padding: 10px;
    position: static;
    display: flex;
    justify-content: space-around;
}
.product-contact a{
    color: var(--secondary-color);
}
.navbar{
    z-index: 10000;
    background-color: #fff;
    position: static;
}
.navbar .main-logo{
    height: 100px;
    width: 100px;
}
.navbar .menu li a{
    color: #000;
}
.navbar .menu li:hover a{
    color: #4E9F3D;
}
.navbar .menu li:nth-child(2) a{
    color: #4E9F3D;
}
/* hero */
.product-hero img{
    height: 50vh;
    
    position: relative;
    object-fit: cover;
    opacity: 0.7;
  
    
}
.product-hero{
    position: relative;

}
.product-hero h2{
    z-index: 100000;
    position: absolute;
    font-size: 4rem;
    top: 50%;
    color: #4E9F3D;
    font-family: var(--primary-font);
    letter-spacing: 2px;
    padding: 70px;
    left: 50%;
    transform: translate(-50%,-50%);

}
/* products */
.products{
    padding: 20px;
    margin: 50px 0;
}
.products h2{
    text-align: center;
    font-family: var(--primary-font);
    letter-spacing: 2px;
    font-size: 2rem;
    border: 3px dotted #4E9F3D;
    display: inline-block;
    position: absolute;
    left: 50%;
    padding: 10px;
    transform: translate(-50%);
}
.product-container img{
    /* width: 80% !important; */
    
    height: 600px;
}
.product-container figcaption{
    text-align: center;
    margin: 5px 0;
    font-size: 1.1rem;
    font-family: var(--primary-font);
    letter-spacing: 2px;
    font-weight: bold;
}
.product-container{
    padding: 20px;
    margin: 60px 0;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-left: 120px;

    
}
.product-container .product-1,.product-2,.product-3,.product-4,.product-5,.product-6,.product-7,.product-8{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: pointer;
    margin: 30px 0;
    width: 60%;
    

}
.product-container .product-1:hover,.product-2:hover,.product-3:hover,.product-4:hover,.product-5:hover,.product-6:hover,.product-7:hover,.product-8:hover{
   transform: translateY(-10px);
   transition: all 0.5s;

}


@media (max-width: 667px) {
    .product-hero img{
        height: 200px;
        object-fit: cover;
    }

    .products h2{
        font-size: 1.2rem;
    }
    .product-container{
        padding: 50px;
        margin: 50px 0;
        justify-content: center;
        align-items: center;
        
        grid-template-columns: 1fr 1fr 1fr;
        /* margin: auto; */
        column-gap: 30px;
        margin-bottom: 0;
        padding-bottom: 0;
     
    }
    .product-container .product-1,.product-2,.product-3,.product-4,.product-5,.product-6{
        width: 100%;
    }
    .product-container img{
        height: 300px;
        

    }










    .navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .navbar .main-logo{
        height: 90px;
        width: 90px;
        margin-bottom: 4px;
    }

    .toggle-button {
        display: flex;
        margin-top: 45px;
    }

    .menu {
        display: none;
        width: 100% ;
        z-index: 100000;
        flex-direction: column;
        background-color: var(--secondary-color);
        padding-bottom: 20px;
    }

  
    .menu li {
        text-align: center;
    }

    .menu li a {
        padding: .5rem 1rem;
    }
    .menu li:hover {
        color: #4E9F3D;
    }

    .menu.active {
        display: flex;
    }
}